.display {
    position: relative;
    background-color: rgb(15, 0, 81);
    border-radius: 10px;
    margin-left: 17%;
    margin-right: 17%;
    padding: 10px;
    padding-bottom: 15px;
}

.display img{
    border-radius: 10px;
}

.display img:hover {
    scale: 1.1;
    border-radius: 0;
    transition: .5s;
}





