.display {
    width: 80px;
    background-color: rgb(15, 0, 81);
    top: 0;
    bottom: 0;
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.display i{
    bottom: 0;
    font-size: 30px;
    color: white;
}

.display i:hover{
    color: silver;
}

.display li{
    margin-top: 20px;
}