

.display ul{
    font-size: 20px;
    padding-top: 5px;
    color: rgb(15, 0, 81);
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(15, 0, 81);

}

.display li{
    padding: 10px;
    border-radius: 0px 10px 0px 0px;
}

.display li:hover{
    color: white;
    background-color: rgb(15, 0, 81);
    transition: .5s;
}
