.display{
    position: fixed;
    background-color: white;
    color: rgb(15, 0, 81);
    margin-left: 80px;
    top: 0;
    border-bottom: 1px solid rgb(15, 0, 81);
}

.display ul{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.display li{
    margin-right: 70px;
    padding: 10px;
}

.display li:hover{
    background-color: rgb(15, 0, 81);
    border-radius: 0px 20px 0px 0px;
    transition: all 0.5s;
    color: white;
}